.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s linear;
}

.visibleModalWrapper {
  opacity: 1;
  z-index: 10;
}

.canvasWrapper {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  position: relative;
  height: fit-content;
}

.infoWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
